body
{
    background-position: center;
    background-size: cover;
}

.heading
{
    width: 100%;
}

.heading #Guide
{
    border: 5px solid white;
}

.heading .status {
    font-size: 5px;
}

.footer
{
    background-color: white;
    line-height: 2;
}

canvas
{
    border: 5px solid red;
}

.modal-dialog
{
    width: 60%;
}